{% extends 'homebase.html' %}
{% load static %}
{% block title %} Hakkımızda | {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %}
<link href='{{ setting.icon.url }}' rel='shortcut icon' type='image/x-icon'/>
{% endblock %}


{% block content %}

<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Hakkımızda</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Anasayfa</a>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">
                            Hakkımızda
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<!--/ About Star /-->
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-img-box">
                    <img alt="" class="img-fluid" src="{% static 'img/slide-about-1.jpg' %}">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">
                        Hotel
                        <br> Reservation
                    </h3>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img alt="" class="img-fluid" src="{% static 'img/about-2.jpg' %}">
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <p class="color-text-a">
                            {{ setting.aboutus |safe }}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ About End /-->


{% endblock %}
