{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ hotel.title }} | {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %}
<link href='{{ setting.icon.url }}' rel='shortcut icon' type='image/x-icon'/>
{% endblock %}


{% block content %}
<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{ hotel.title }}</h1>
                    <span class="color-text-a">{{ hotel.city }}</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Hotels</a>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">
                            {{ hotel.title }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<!--/ Property Single Star /-->
<section class="property-single nav-arrow-b">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel owl-arrow gallery-property" id="property-single-carousel">
                    {% for rs in image %}
                    <div class="carousel-item-b">
                        <img alt="" src="{{rs.image.url}}">
                    </div>
                    {% endfor %}
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-5 col-lg-4">
                        <div class="property-price d-flex justify-content-center foo">
                            <div class="card-header-c d-flex">

                                <div class="card-title-c align-self-center">
                                    <div class="property-summary">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="title-box-d">
                                                    <h3 class="title-d">Otel Bilgileri</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary-list">
                                            <ul class="list">
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Telefon: </strong>
                                                    <span>{{hotel.phone}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Adres:</strong>
                                                    <span style="text-align: right">{{hotel.location}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Kategori:</strong>
                                                    <span style="text-align: right">{{hotel.category.title}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Şehir:</strong>
                                                    <span style="text-align: right">{{hotel.city}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Konum:</strong>
                                                    <span style="text-align: right">{{hotel.location}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Ülke:</strong>
                                                    <span style="text-align: right">{{hotel.country}}</span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Website:</strong>
                                                    <span style="text-align: right"><a href="{{hotel.email}}">Web Siteyi Gör</a></span>
                                                </li>
                                                <li class="d-flex justify-content-between" style="border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 10px;">
                                                    <strong>Yıldız:</strong>
                                                    <span style="text-align: right">{{hotel.star}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7 col-lg-7 section-md-t3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="title-box-d">
                                    <h3 class="title-d">Harita</h3>
                                </div>
                            </div>
                        </div>
                        <div class="property-description">
                            <p class="description color-text-a">
                                {{ hotel.address | safe}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="amenities-list color-text-a">
                <section class="agent-single">
                    <div class="container">
                        <div class="row" style="width: 100%">
                            <div class="col-md-12 section-t8">
                                <div class="title-box-d">
                                    <h3 class="title-d">Odalar</h3>
                                </div>
                            </div>
                            <div class="row property-grid grid" style="width: 100%">
                                <div class="col-sm-12">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>


                                <table style="border-color: #1b1e21; width: 100%">
                                    {% for rs in rooms %}

                                    <tr>
                                        <td>
                                            <br><br>
                                            {{ rs.title }} <b>${{ rs.price }}</b> <br> <br> <br>
                                            <img alt="" class="img-d img-fluid"
                                                 src="{{ rs.image.url }}" style="height: 300px; width: 300px; object-fit:cover">

                                        </td>
                                        <form action="/reserve/sendreserve/{{ rs.id }}/{{ rs.hotel.id }}"
                                              method="post" name="reserveform">
                                            {% csrf_token %}
                                            <td><input id="checkin" class="form-control" name="checkin" type="date">
                                            </td>
                                            <td><input id="checkout" class="form-control" name="checkout" type="date">
                                            </td>
                                            <td>
                                                <button class="btn btn-primary" id="submit" type="submit"
                                                        value="SEND">Rezervasyon Yap
                                                </button>
                                            </td>
                                        </form>
                                    </tr>

                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br><br><br><br><br>
                <div class="title-box-d">
                    <h3 class="title-d">Yorumlar</h3>
                </div>
                <div class="box-comments">
                    <ul class="list-comments">
                        {% for rs in comments %}
                        <li>
                            <div class="comment-avatar">
                                <img alt="" src="{% static 'img/user.png' %}">
                            </div>
                            <div class="comment-details">
                                <h4 class="comment-author">{{ rs.user.first_name }} {{ rs.user.last_name }}</h4>
                                <span>{{ rs.create_at }}</span>
                                <p class="comment-description">
                                    {{ rs.comment }}
                                </p>

                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="form-comments">
                    <div class="title-box-d">
                        <h3 class="title-d"> Yorum Yap</h3>
                    </div>
                    <form action="/hotel/addcomment/{{ hotel.id }}" class="form-a" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control form-control-lg form-control-a"
                                           id="subject"
                                           name="subject" placeholder="Subject" required
                                           type="text">
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="comment">Enter message</label>
                                    <textarea class="form-control" cols="45"
                                              id="comment" name="comment" placeholder="Comment *"
                                              required rows="8"></textarea>
                                </div>
                            </div>
                            {% if user.id is not None %}
                            <div class="col-md-12">
                                <button class="btn btn-a" type="submit">Send Message</button>
                            </div>
                            {% else %}
                            <div class="col-md-12">
                                <a class="btn btn-a" href="/login">Giriş Yap</a>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/ Property Single End /-->
{% endblock %}
